body {
  background-color: gray;
}
#content {
  width: 600px;
  margin: 1em auto;
  background-color: darkslategrey;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

header h1 {
  background-color: wheat;
  border-radius: 5px;
  padding: 1em;
  margin: 0;
  text-align: center;
}
h2 {
  margin-top: 0;
}

.tile {
  margin: 0;
  padding: 0;
  border: 1px solid black;
  flex-basis: 50%;
}

.gameRow {
  display: flex;
  gap: 10px;
}
