body {
  background-color: gray;
}
#content {
  width: 600px;
  margin: auto;
  background-color: darkslategrey;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

header h1 {
  background-color: wheat;
  border-radius: 5px;
  padding: 1em;
  margin: 0;
  text-align: center;
}
