body {
  background-color: gray;
}
#content {
  width: 576px;
  margin: 1em auto;
  background-color: darkslategrey;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

header h1 {
  background-color: wheat;
  border-radius: 5px;
  padding: 1em;
  margin: 0;
  text-align: center;
}
h2 {
  margin-top: 0;
}

.tile {
  margin: 2em 0 2em;
  padding: 0;
  flex-basis: 50%;
  border-radius: 5px;
  padding: 1em;
}
.tile--full {
  flex-basis: 100%;
}

.gameRow {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}
